<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hongcheng.fruitmall.statics.dao.mapper.StaticMapper">
    <sql id="typeFilter">
        <if test="qo.keyWord != null">
            AND `productName` like CONCAT('%',#{qo.keyWord,jdbcType=VARCHAR},'%')
        </if>
        <if test="qo.productType != null">
            AND `productType`=#{qo.productType,jdbcType=INTEGER}
        </if>
    </sql>

    <sql id="timeFilter">
        <if test="qo.startTime != null">
            AND `order`.`createTime`&gt;=#{qo.startTime,jdbcType=TIMESTAMP}
        </if>
        <if test="qo.endTime != null">
            AND `order`.`createTime`&lt;=#{qo.endTime,jdbcType=TIMESTAMP}
        </if>
    </sql>

    <select id="getStaticByQuery" resultType="com.hongcheng.fruitmall.statics.pojo.vo.StaticVO">
        select productState,p.productId,title,SUM(`quantity`) as totalCapacity,SUM(`order_product_relation`.price) as totalMoney,
        COUNT(t.orderId) as orderNum
        from (select productState,product.productId,title from `product` <where><include refid="typeFilter"/></where>) p
        left join `order_product_relation` on p.productId=order_product_relation.productId
        left join (select `order`.orderId from `order` <where><include refid="timeFilter"/></where>) t
        on `order_product_relation`.orderId = t.orderId
        group by productId
        <choose>
            <when test="qo.orderBy != null">
                ORDER BY
                <foreach collection="qo.orderBy" item="item" separator=",">
                    ${item.field} ${item.dir}
                </foreach>
            </when>
            <otherwise>
                ORDER BY totalMoney desc
            </otherwise>
        </choose>
        <if test="qo.size != 0">
            LIMIT #{qo.from,jdbcType=INTEGER},#{qo.size,jdbcType=INTEGER}
        </if>
    </select>
    <select id="countStatic" resultType="java.lang.Integer">
        select COUNT(`productId`)
        from product
        <where>
            <include refid="typeFilter"/>
        </where>
    </select>
</mapper>