<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hongcheng.fruitmall.order.dao.mapper.AdminOrderEntityMapper">
    <resultMap id="BaseResultMap" type="com.hongcheng.fruitmall.order.pojo.entity.OrderEntity">
        <id column="orderId" property="orderId"/>
        <result column="userId" property="userId"/>
    </resultMap>

    <resultMap id="InfoResultMap" type="com.hongcheng.fruitmall.order.pojo.vo.OrderVO" extends="BaseResultMap">
        <association property="userInfo"  column="userId" select="getUserInfo"/>
        <collection property="fruitsInfo" column="orderId" select="getSimpleFruits"/>
    </resultMap>

    <sql id="Base_Column_List">
        orderId, payMoney, createTime,
        state, scoreOne, scoreAll, remarks, `order`.userId, userAddress,signTime
    </sql>

    <sql id="filter">
        <if test="qo.email != null">
            AND `email` LIKE CONCAT('%',#{qo.email,jdbcType=VARCHAR},'%')
        </if>
        <if test="qo.startTime != null">
            AND `createTime`&gt;=#{qo.startTime,jdbcType=TIMESTAMP}
        </if>
        <if test="qo.endTime != null">
            AND `createTime`&lt;=#{qo.endTime,jdbcType=TIMESTAMP}
        </if>
        <if test="qo.orderId != null">
            AND `orderId` LIKE CONCAT('%',#{qo.orderId,jdbcType=INTEGER},'%')
        </if>
        <if test="qo.state != null">
            AND `state`=#{qo.state,jdbcType=VARCHAR}
        </if>
    </sql>

    <select id="getUserInfo" resultType="com.hongcheng.fruitmall.common.pojo.SimpleUserInfo" parameterType="INTEGER">
        select realname as name,userTelPhone
        from user left join user_address on user.userId=user_address.userId
        where user.userId=#{userId}
    </select>

    <select id="getSimpleFruits" resultType="com.hongcheng.fruitmall.fruit.pojo.vo.SimpleFruitInfo" parameterType="INTEGER">
        select `order_product_relation`.productId,`order_product_relation`.imgUrl as productImg,title,
        `order_product_relation`.price as dealPrice,quantity
        from `order_product_relation`
        left join `product` on `order_product_relation`.productId=`product`.productId
        where `orderId`=#{orderId}
    </select>

    <select id="getListByQuery" resultMap="InfoResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM `order` left join user on `order`.userId=user.userId
        <where>
            <include refid="filter"/>
        </where>
        <choose>
            <when test="qo.orderBy != null">
                ORDER BY
                <foreach collection="qo.orderBy" item="item" separator=",">
                    ${item.field} ${item.dir}
                </foreach>
            </when>
            <otherwise>
                ORDER BY  `orderId` DESC
            </otherwise>
        </choose>
        <if test="qo.size != 0">
            limit #{qo.from,jdbcType=INTEGER},#{qo.size,jdbcType=INTEGER}
        </if>
    </select>
    <select id="getCountByQuery" resultType="java.lang.Integer">
        SELECT COUNT(`orderId`)
        FROM `order` left join user on `order`.userId=user.userId
        <where>
            <include refid="filter"/>
        </where>
    </select>
    <update id="updateStateById">
        UPDATE `order`
        SET `state`=#{state,jdbcType=VARCHAR},`signTime`=#{time,jdbcType=TIMESTAMP}
        WHERE `orderId`=#{id,jdbcType=INTEGER}
    </update>


</mapper>